.App {
  text-align: center;
  margin: auto;
  width: 90%;
}
.Header {
  display: block;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.container{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}